@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    list-style: none;
}

body {
    min-height: 100vh;
    position: relative;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(170, 168, 168);
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 0rem 1.5rem;
}

.left-nav a,
.right-nav a {
    margin-right: 2rem;
    color: #000000;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.active {
    font-weight: bold;
}

.right-nav .auth-btn {
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

#btn {
    color: white;
    background-color: #edaf0f;
    border: none;
}

.cart {
    position: relative;
}

.cart p {
    background-color: red;
    text-align: center;
    width: 30px;
    height: 10;
    color: white;
    font-weight: bold;
    padding: 0.1rem 0rem;
    border-radius: 100%;
    position: absolute;
    top: -80%;
    right: -50%;
}

footer {
    /* position: fixed; */
    padding: 1rem 2rem;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-right {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.flex-right div {
    margin-right: 4rem;
}

.flex-right div a {
    color: black;
    line-height: 1.5;
}

.flex-right div a:hover {
    text-decoration: underline;
}

.flex-left {
    width: 400px;
}

.nav-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-toggle i {
    font-size: 1.5rem;
}

.show {
    display: block;
}

@media (max-width: 900px) {
    .right-nav {
        display: none;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        right: 4%;
        cursor: pointer;
        outline: none;
    }

    .left-nav {
        display: flex;
    }

    footer {
        display: block;
        height: auto;
    }

    .flex-left {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 60%;
        margin: 0 auto 3rem auto;
    }

    .flex-right {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .flex-left {
        width: 80%;
    }
}